---
import CarouselSection from './CarouselSection.astro';
import StatsSection from './StatsSection.astro';
import BusinessEventsSection from './BusinessEventsSection.astro';
import RulesSection from './RulesSection.astro';
import PricingSection from './PricingSection.astro';

---


<main class="bg-white">
  <CarouselSection />
  <StatsSection />
  <BusinessEventsSection />
  <RulesSection />
  <PricingSection />
</main> 