---
// Composant en-tête contact
---
<section class="px-8 pt-8 mt-16 md:mt-0 md:pt-0">
  <h1 class="text-white font-impact leading-tight text-3xl md:text-6xl uppercase mb-4">CONTACTER <span class="text-nowrap">THE PADEL</span></h1>
  <p class="text-white text-base font-raleway md:text-lg opacity-80 max-w-2xl">Pour un devis, un prix ou un renseignement, nous vous invitons à nous contacter par le formulaire ci-joint. Nous vous répondrons dans les plus brefs délais.</p>
</section> 