---
// Header component for The Padel website
---

<header class="relative h-[calc(100vh-4rem)] min-h-[600px] overflow-hidden">
    <!-- Background image -->
    <div class="absolute inset-0 z-0">
      <img 
        src="/src/assets/tournoi/header-bg-tournoi.png"
        alt="Terrain de padel" 
        class="w-full h-full object-cover"
      />
    </div>
  
    <!-- Content overlay -->
    <div class="absolute inset-0 z-10 flex items-center justify-center ">
      <div class="text-center text-white px-4 sm:px-6 lg:px-8">
      <!-- Tagline -->
      <h1 class="text-6xl sm:text-7xl lg:text-9xl font-impact italic font-bold text-white uppercase tracking-wider text-shadow-lg">
        Tournois
      </h1>
      <p class="text-white text-center py-5 font-raleway text-shadow-lg text-sm sm:text-lg break-words whitespace-normal max-w-full w-full sm:max-w-2xl sm:mx-auto px-4">
        Les amoureux du padel vivant à Bordeaux ou dans ses environs peuvent participer à nos tournois de padel. <span class="font-bold text-nowrap">Contactez-nous pour en savoir plus à ce sujet.</span>
      </p>
       </div>
      </div>
  </header> 
  <div class="bg-dark-blue">
   <h2 class="text-white uppercase text-center py-5 text-3xl font-impact">
       Inscrivez-vous <span class="gradient-blue-green">gratuitement</span>
   </h2>
  </div>